/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  color: black;
  padding: 0;
  margin: 0;

  font-family: "Arial", "Helvetica", "sans-serif";
  background-color: #09071C;
}

#captchaGen {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 730px;
  height: 146px;
}

@media (max-width: 730px) {
  #captchaGen {
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.qotd {
  color: white;
  font-style: italic;
  opacity: 0.8;

  margin-top: 0;
  margin-bottom: 3em;
  text-align: center;
}

.feedContainer {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.feedContainer.hidden {
  overflow: hidden;
}

.feed {
  padding: 1em;
  height: 100%;
}

.feed>*:last-child {
  padding-bottom: 1em;
}

.feed.hidden {
  opacity: 0;
}

.post {
  background-color: #110F25;
  border-radius: 5px;
  color: white;

  padding: 0.75em;

  margin-bottom: 1em;

  border: 1px solid #6358FF;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.post {
  overflow: hidden;
}

.postText {
  max-height: 80vh;
  overflow: clip;
  position: relative;
}

.viewer .postText {
  max-height: none;
}

.postText:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 70vh, #110f25);
  pointer-events: none;
}

.viewer .postText:before {
  display: none;
}

.postText p {
  word-break: break-word;
}

.linkLine {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.linkLine>* {
  margin-right: 0.5ch;
}

.greentext {
  color: #789922;
}

.linkLine a {
  color: white;
  border-bottom: 2px solid #6358FF;
  text-decoration: none;
  transition: 0.3s;
}

.linkLine a:hover {
  opacity: 0.8;
}

.contentContainer {
  width: 70%;

  margin-top: 1em;
  align-self: center;

  border-radius: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  position: relative;
}

.comment .contentContainer {
  max-width: 20%;
  width: auto;
  margin: 0;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.comment .content {
  width: 100%;
}

.contentContainer>.hideIcon {
  filter: invert(1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

.content {
  width: 100%;
}

.content.blurred {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
  transition: 0.3s;
  cursor: pointer;
}

.content.blurred:hover {
  opacity: 0.8;
}

.post h1, .post p {
  margin-top: 0;
  margin-bottom: 0;
}

.postHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
}

.postActions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.postAction, .postAction>* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.postActions img {
  width: 1.5em;
  cursor: pointer;
  transition: 0.3s;
}

.postActions img:hover {
  opacity: 0.8;
}

.postTitleLine {
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  overflow: clip;
}

.postTitleLine h1 {
  margin-right: 0.5em;
  max-width: 100%;
}

.postTitleLine p {
  opacity: 0.8;
}

.verifiedIndicator {
  width: 1.5em;
  margin-right: 0.5em;
}

.postContent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.postAction {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  margin-top: 0.5em;
  font-weight: bold;

  transition: 0.3s;
  cursor: pointer;
  color: #6358FF;
  align-self: center;
}

.postAction:hover {
  opacity: 0.4;
}

.postAction img {
  width: 1.5em;
  margin-right: 0.5em;
}

.linksArea {
  display: flex;

  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.linksArea>* {
  border-bottom: 1px solid #6358FF;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 0.5em;
}

.linksArea>*:hover {
  opacity: 0.8;
}

.feedControls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.feedControls>p {
  margin-left: 1em;
  white-space: nowrap;
  transition: 0.3s;
  cursor: pointer;
}

.feedControls>p:hover {
  opacity: 0.8;
}

.feedControls>p.active {
  font-weight: bold;
}

.searchArea {
  background-color: #1A1837;
  border-radius: 5px;
  color: white;

  padding: 0.5em;

  margin-bottom: 1em;

  display: flex;

  flex-flow: column nowrap;
  border: 1px solid #6358FF;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}

.searchArea img {
  width: 1.5em;
  filter: invert(1);
  margin-right: 0.5em;
  opacity: 0.6;
}

.searchArea input {
  background-color: transparent;
  font-size: 1em;
  color: white;
  outline: none;
  border: none;
  width: 100%;
}

.submitArea {
  background-color: #1A1837;
  border-radius: 5px;
  color: white;

  padding: 0.5em;

  margin-bottom: 1em;

  display: flex;

  flex-flow: column nowrap;
  border: 1px solid #6358FF;
}

.submitArea input, .submitArea textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);

  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 1em;

  margin-bottom: 1em;
}

.captchaInput {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.captchaInput input {
  margin-top: 0.5em;
}

.bodyInputArea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.bodyInputArea .multimediaSub {
  width: 30%;
  margin-right: 0.5em;
}

.multimediaSub {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.multimediaSub>*:first-child {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

.multimediaSub>p {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0.6;
  color: #eb4034;
}

.bodyInput {
  width: 100%;
}

.bodyInput>* {
  width: 100%;
}

.feedback {
  opacity: 0.6;
  color: #eb4034;
}

.mediaSelector {
  display: flex;

  flex-flow: row nowrap;
  width: 100%;
}

.mediaSelector input {
  flex-grow: 1;
}

.mediaSelector p {
  margin-left: 0.5em;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.mediaSelector p:hover {
  opacity: 0.5;
}

.mediaSelector>p.active {
  opacity: 1;
  font-weight: bold;
}

.submit {
  width: 100%;
  background-color: #6358FF;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  opacity: 0.8;
}

.logo {
  display: flex;

  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;

  color: white;
  border-bottom: 1px solid #6358FF;
  position: sticky;
  top: 0;
  background-color: #09071C;
  font-size: 1.5em;
  z-index: 2;
}

.logo img {
  width: 8em;

  margin-right: 1.5em;
}

.logo h1 {
  margin-bottom: 0;
}

.logo p {
  margin-top: 0;
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  z-index: 3;
}

.viewerBody {
  background-color: #110F25;
  height: 100%;
  width: 60%;

  padding: 2em;

  overflow: scroll;
}

.viewerBody .comments {
  margin-bottom: 1em;
}

.navigation {
  display: flex;

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1em;
  margin-top: 1em;
}

.navigation img {
  filter: invert(1);
  width: 2em;

  cursor: pointer;
  transition: 0.3s;
}

.navigation img:hover {
  opacity: 0.8;
}

.viewerBody .post {
  padding: 0;
  padding-bottom: 0.5em;
  margin: 0;
  border: 0;

  margin-bottom: 3em;;
  border-bottom: 1px solid #6358FF;
  border-radius: 0px;
}

.viewerBody .postAction {
  display: none;
}

.commentDrawerArea {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.commentInputArea {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0.5em;
}

.commentInputs {
  width: 100%;
}

.commentCaptchaSection {
  margin-top: 0.5em;
}

.commentCaptchaSection img {
  width: 100%;
}

.commentInputActions>*:first-child {
  margin-left: 0;
}

.commentInputActions>*:last-child {
  width: 100%;
}

.commentInputActions {
  margin-top: 1em;
  width: 100%;
}

.commentInputs {
  margin-right: 0;
}

.commentContentInput {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.commentInputArea textarea, .commentInputArea input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);

  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 1em;
  width: 100%;
}

.commentInputArea p {
  background-color: #6358FF;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  color: white;

  cursor: pointer;
  transition: 0.3s;

  padding-left: 0.5em;
  padding-right: 0.5em;

  margin-left: 1em;
}

.commentContentInput {
  margin-top: 1.5em;
}

.commentContentInput p {
  background-color: transparent;
  padding: 0;
  color: white;
  margin: 0;
  margin-left: 0.5em;
  font-weight: normal;
}

.commentContentInput p.active {
  font-weight: bold;
}

.commentInputArea .cancel {
  background-color: #eb4034;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  color: white;

  cursor: pointer;
  transition: 0.3s;

  padding-left: 0.5em;
  padding-right: 0.5em;

  width: 1em;
}

.commentInputArea .cancel:hover {
  opacity: 0.8;
}

.commentInputArea p:hover {
  opacity: 0.8;
}

.commentInputActions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.commentInputActions>* {
  margin: 0;
}

.comment {
  color: white;

  margin-top: 1.75em;
}

.comment.highlighted {
  margin-left: 0;
}

.commentBody.highlighted {
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 0.75em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-right: 0.5em;
}

.commentBody .commentInputArea {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 0.5em;
}

.commentBody .commentContent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.commentContent.expanded {
  flex-flow: column nowrap;
}

.commentContent.expanded .contentContainer {
  min-width: 70%;
  margin-right: 0;
  margin-bottom: 0.5em;
}

.commentBody .contentContainer {
  width: 20%;
  margin: 0;
  margin-right: 0.5em;
  border-radius: 5px;
}

.subcomments {
  width: 100%;
}

.subcomments>* {
  margin-left: 0.75em;
}

.subcommentsArea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.subcommentsArea {
  margin-top: 1em;
}

.subcomments>*:first-child {
  margin-top: 0;
}

.commentMarker {
  width: 1px;
  border-left: 1px solid rgba(255, 255, 2555, 0.5);
  min-height: calc(100% - 1.75em);
  cursor: pointer;
  min-height: 2em;
}

.commentText p {
  margin-top: 0;
  margin-bottom: 0;
}

.commentActions {
  opacity: 0.5;
  margin-bottom: 0.25em;
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.commentActions img {
  filter: invert(1);
  width: 1.5em;
  margin-left: 0.5em;
  cursor: pointer;
  transition: 0.3s;
}

.commentActions img:hover {
  opacity: 0.5;
}

.commentTimestamp, .commentTimestamp>p {
  margin: 0;
}

@media (max-width: 661px) {
  .logo img {
    width: 30%;
  }

  .logo {
    font-size: 1em;
  }

  .content {
    width: 100%;
  }
}

@media (max-width: 716px) {
  .viewerBody {
    width: 100%;
  }

  .bodyInputArea {
    flex-flow: column nowrap;
  }

  .bodyInputArea .multimediaSub {
    width: 60%;
    align-self: center;
  }
}

@media (min-width: 716px) {
  .feed {
    padding-left: 20%;
    padding-right: 20%;
  }
}
