/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  color: black;
  padding: 0;
  margin: 0;

  font-family: "Arial", "Helvetica", "sans-serif";
  background-color: #09071C;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.feed {
  padding: 1em;
  height: 100%;
}

.feed.hidden {
  height: 0;
}

.post {
  background-color: #110F25;
  border-radius: 5px;
  color: white;

  padding: 0.75em;

  margin-bottom: 1em;

  border: 1px solid #6358FF;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.greentext {
  color: #789922;
}

.content {
  width: 70%;

  margin-top: 1em;
  align-self: center;
  border-radius: 5px;
}

.post h1, .post p {
  margin: 0;
}

.postTitleLine {
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 0.5em;
}

.postTitleLine h1 {
  margin-right: 0.5em;
}

.postTitleLine p {
  opacity: 0.8;
}

.postContent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.postAction {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  margin-top: 0.5em;
  font-weight: bold;

  transition: 0.3s;
  cursor: pointer;
  color: #6358FF;
  align-self: center;
}

.postAction:hover {
  opacity: 0.4;
}

.postAction img {
  width: 1.5em;
  margin-right: 0.5em;
}

.submitArea {
  background-color: #1A1837;
  border-radius: 5px;
  color: white;

  padding: 0.5em;

  margin-bottom: 1em;

  display: flex;

  flex-flow: column nowrap;
  border: 1px solid #6358FF;
}

.submitArea input, .submitArea textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);

  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 1em;

  margin-bottom: 1em;
}

.mediaSelector {
  display: flex;

  flex-flow: row nowrap;
  width: 100%;
}

.mediaSelector input {
  flex-grow: 1;
}

.mediaSelector p {
  margin-left: 0.5em;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}

.mediaSelector p:hover {
  opacity: 0.5;
}

.mediaSelector>p.active {
  opacity: 1;
  font-weight: bold;
}

.submit {
  width: 100%;
  background-color: #6358FF;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  opacity: 0.8;
}

.logo {
  display: flex;

  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;

  margin-bottom: 3em;

  color: white;
  border-bottom: 1px solid #6358FF;
  position: sticky;
  top: 0;
  background-color: #09071C;
  font-size: 1.5em;
  z-index: 2;
}

.logo img {
  width: 8em;

  margin-right: 1.5em;
}

.logo h1 {
  margin-bottom: 0;
}

.logo p {
  margin-top: 0;
}

.viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  z-index: 3;
}

.viewerBody {
  background-color: #110F25;
  height: 100%;
  width: 60%;

  padding: 2em;

  overflow: scroll;
}

.viewerBody .comments {
  margin-bottom: 1em;
}

.navigation {
  display: flex;

  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1em;
  margin-top: 1em;
}

.navigation img {
  filter: invert(1);
  width: 2em;

  cursor: pointer;
  transition: 0.3s;
}

.navigation img:hover {
  opacity: 0.8;
}

.viewerBody .post {
  padding: 0;
  padding-bottom: 0.5em;
  margin: 0;
  border: 0;

  margin-bottom: 3em;;
  border-bottom: 1px solid #6358FF;
  border-radius: 0px;
}

.viewerBody .postAction {
  display: none;
}

.commentInputArea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.commentInputArea textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);

  font-family: "Arial", "Helvetica", "sans-serif";
  font-size: 1em;
  width: 100%;
}

.commentInputArea p {
  background-color: #6358FF;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  color: white;

  cursor: pointer;
  transition: 0.3s;

  padding-left: 0.5em;
  padding-right: 0.5em;

  margin-left: 1em;
}

.commentInputArea p:hover {
  opacity: 0.8;
}

.comment {
  color: white;

  margin-top: 1.75em;
}

.commentText p {
  margin: 0;
}

.commentActions {
  opacity: 0.5;
  margin-bottom: 0.25em;
  display: flex;

  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.commentActions img {
  filter: invert(1);
  width: 1.5em;
  margin-left: 0.5em;
  cursor: pointer;
  transition: 0.3s;
}

.commentActions img:hover {
  opacity: 0.5;
}

.commentTimestamp, .commentTimestamp>p {
  margin: 0;
}

@media (max-width: 661px) {
  .logo img {
    width: 30%;
  }

  .logo {
    font-size: 1em;
  }

  .content {
    width: 100%;
  }
}

@media (min-width: 716px) {
  .feed {
    padding-left: 20%;
    padding-right: 20%;
  }
}
